<!DOCTYPE html>
<!-- Katherine Lingad, January 28, 2017 -->
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <title> </title>
    </head>
    <body>
        <header>
            <h1>Hotel</h1><h1>Natoma</h1>
        </header>
        <nav>
            <li><a href="index.html">Home</a></li>
            <li><a href="nearby.html">What's Nearby</a></li>
            <li><a href="location.html">Location</a></li>
            <li><a href="guide.html">Green SF</a></li>
        </nav>
        <main>
            
            
        </main>
        <footer>
            <p>568 Natoma St. <li>San Francisco, CA 94103</li><li><a href="tel:4155558378">(415) 555-8378</a></li></p>
        </footer>
    </body>
</html>