<!DOCTYPE html>
<!-- This website template was created by: Katherine Lingad, December 9, 2016 -->
<html lang="en">

<head>
    <link rel="stylesheet" href="css/styles.css">
    <title>Adventure To Boracay</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div id="container">
    
  <!-- Use the header area for the website name or logo -->  
  <header>
      <a href="index.html"><img src="images/boracayBanner.png" alt="Adventure To Boracay logo"></a>
  </header>
  
  <!-- Use the nav area to add hyperlinks to other pages within the website -->
  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">Boracay</a></li>
      <li><a href="directions.html">How to Get There</a></li>
      <li><a href="hotels.html">Hotels</a></li>
      <li><a href="activities.html">Things to Do</a></li>
      <li><a href="review.html">My Experience</a></li>
      <li><a href="contact.html">Contact Us</a></li>
    </ul>
  </nav>
  
  <!-- Use the main area to add the main content of the webpage -->
  <main>
   
  </main>
  
  <!-- Use the footer area to add webpage footer content -->
  <footer>
      &copy; Copyright 2016. All Rights Reserved. <br>
      <a href="mailto:exploreBoracay@gmail.com">exploreBoracay@gmail.com</a>
  </footer>
  
  </div>
  
</body>
</html>